*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

/* --------------------------------- */

/* Header part */
main{
    overflow: hidden;
}

a{
    z-index: 100;
}



.img{
    width: 4rem;
    z-index: 1;
    
}

.navbar-nav{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    
}


/* main body */

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: auto;
    height:100vh;
    overflow: hidden;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 5s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 6s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 8s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 9s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 20s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 20s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.title{
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 10rem;
    font-family: 'Bungee Shade', cursive;
    color: white;
    scroll-behavior: smooth;
}

/* main image */

.para{
    width: 100vw;
    height: 100vh;
    background-color: #4e54c8;
}
.main-img{
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    left: -100rem;
    top: -35rem;
    scroll-behavior: smooth;
    z-index: 1;
}

.text{
    position: absolute;
    top: 60rem;
    left: 1rem;
    font-size: 12rem;
    width: 40vw;
    color:  rgba(255, 255, 255, 0.2);
    font-family: 'Black Han Sans', sans-serif;
    
}

span{
    position: relative;
    top: -3rem;
    left: 10rem;
    right: 10rem;
    scroll-behavior: smooth;
    font-family: 'Racing Sans One', cursive;
    font-size: 8rem;
    color: white;
}

.sec1{
    width: 100vw;
    height: 100vh;
    background-color: #181717; 
    position: relative;    

}
.sec2{
    width: 100vw;
    height: 100vh;
    background-color: #181717;
    position: relative;
}
.sec3{
    width: 100vw;
    height: 100vh;
    background-color: #181717;
    position: relative;
}

.other{
     color:  rgba(255, 255, 255, 0.2);
    font-family: 'Black Han Sans', sans-serif;
    font-size: 6rem;
    text-align: right;
    position: relative;
    top: -22rem;
    margin-left: -5rem;
    width: 100vw;
    text-transform: uppercase;

}

.pro{
    color:  rgba(255, 255, 255, 0.2);
    font-family: 'Black Han Sans', sans-serif;
    font-size: 10rem;
    text-align: center;
    position: relative;
    top: 4rem;
    margin-left: -160rem;
    /* left: -1rem; */
    
    
}

.box1{
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;  
    
}

.box2{
    width: 100vw;
    height: 100%;
    
}

.box-part{
    position: relative;
     top: 8rem;
     left: 13rem;
     color:  rgba(255, 255, 255, 0.769);
     height: 20rem;
}

.box-part2{
    width: 100vw;
    height: 20rem;
    position: relative;
    top: 19rem;
    left: 6rem;
    color: rgba(255, 255, 255, 0.769);
}
    
.X-title{
    font-size: 3rem;
    font-family: 'Racing Sans One', cursive;
    text-transform: uppercase;
    color: white;
}
.X-title2{
    font-size: 3rem;
    font-family: 'Racing Sans One', cursive;
    text-transform: uppercase;
    color: white;
}


.X-para{
    font-size: 1rem;
}
.X-notes{
    font-size: 1.2rem;
    line-height: 40px;

}

li{
    list-style: none;
    position: relative;
    
    
}



.img-product1{
    width: 52vw;
    height: 60vh;
    position: relative;
    margin-left: -30rem;
    z-index: 1111;
    
}

.img-product2{
    width: 100vw;
    height: 100vh;
    position: relative;
    left: 20rem;
    top: -10rem;
    
}

.img-product3{
    width: 60vw;
    height: auto;
    position: relative;
    top: 7rem;
    left: -10rem;
    margin-left: -25rem;
    
    
}






/* section 1 css */
/* ------------------------------ */
/* <<<<<<<<<<>>>>>>>>>>>>>>>>>>> */









/* ---------------------------------------------- */

