*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:auto;
}
.header{
    height: 100px;
    width: 100%;
    padding: 0 8%;
    margin-top: -80px;
    position: relative;
    display: block;
    font-family: 'Lobster', cursive;
    font-family: 'Prata', serif;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo{
    width:100px;
    left: 5%;
}
.nav-links{
    padding: 20px 0;
}
.nav-links span{
    color: rgb(253, 227, 193);
    font-size: 30px;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
    border-top: 4px solid #191919;
    border-bottom: 4px solid #191919;
    padding: 5px 18px;
    border-radius: 20px;
    
}
.nav-links li:hover::before{
    filter: blur(5px);
}
.nav-links li:hover::after{
    filter: blur(20px);
}
.nav-links li a{
    text-decoration: none;
    color: rgb(250, 239, 223);
    
}
.nav-links li:hover{
    animation: hue 2s linear infinite;
}
@keyframes hue {
    0%{
        border-top: 4px solid rgb(0, 117, 250);
        border-bottom: 4px solid rgb(0, 117, 250);
        filter: hue-rotate(0deg);
    }

    
    
    25%{
        border-top: 4px solid rgb(236, 33, 243);
        border-bottom: 4px solid rgb(236, 33, 243);
        filter: hue-rotate(90deg);
    }

    
    50%{
        border-top: 4px solid rgb(30, 255, 0);
        border-bottom: 4px solid rgb(30, 255, 0);
        filter: hue-rotate(180deg);
    }

   
    75%{
        border-top: 4px solid rgb(255, 7, 40);
        border-bottom: 4px solid rgb(255, 7, 40);
        filter: hue-rotate(270deg);
    }

    

    100%{
        border-top: 4px solid rgb(248, 252, 6);
        border-bottom: 4px solid rgb(248, 252, 6);
        filter: hue-rotate(360deg);
     }
}

